.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    /* margin-bottom: 2em; */
    background-color: #333;
    color: #FFF;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: bisque;
}

.logo h1 {
    margin-left: .5em;    
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 1.3em;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: .4s;
    border-bottom: 2px solid transparent;
}

.menu a:hover {
    border-color: #FFF;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-left: 1em;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .searchBar input {
    width: 200px;
    padding: 0.5em;
    border: none;
    background-color: transparent;
    outline: none;
  }
  
  .searchBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .searchBar button:hover {
    background-color: #f2f2f2;
  }
  
